.row{
    /* width: 100%; */
    height: 325px;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
}
img{
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
}